*{
  box-sizing: border-box;
}
html{
    background-color: lightgray;
    /* scale: 2; */
}
#konyv > div{
  perspective: 1300px;
}
#konyv > div{
  /* width: 105mm;height: 148.5mm; */
  
  width: 400px;
  height: 600px;
  background-color: transparent;

  top: calc(50% - 300px);
  left: 50%;
  position: absolute;
  transition: all 3s;

  transform-origin: left;
}

#konyv > div:first-of-type > div,
#konyv > div:last-of-type > div{
  background-color: #2e1800;
  box-shadow: inset -4px -4px 4px 1px #635648, inset -7px -7px 4px 0 #221b14;
  color: white;
    /* background-color: transparent; */
    width: 400px;
    height: 600px;
}
#konyv > div > div{
    backface-visibility: hidden;
}

.bal *{
  transform: scale(-1, 1);
  /* transition: transform 0s; */
  
}
.jobb, .bal{
    /* top: calc(50% - 100px); */
    width: 400px;
    height: 600px;
    background-color: white;
    /* border: 1px solid black; */
    /* top: calc(50% - 150px); */
    position: absolute;
    transition: all 3s;
    box-shadow: inset 0 0 26px 2px #d8cccc, 5px 1px 13px 0 rgb(34 27 20 / 81%);
    transform-origin: left;
  
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 24pt;
    padding: 8px;
}

img{
  width: 100%;
  border-radius: 4px;
}
h1{
  text-align: center;
}