*{
  box-sizing: border-box;
}
html{
    background-color: lightgray;
}
#konyv{
  position: absolute;
  top: calc(50% - 300px);
  left: 50%;
  transform: /*translate3d(0px, 5%, -264px)*/ rotateX(calc(27deg + var(--egerY))) rotateZ(calc(0deg + var(--egerX)));
}
#konyv > div{
  perspective: 1300px;
  /* transform: rotateX(var(--egerY)) rotateZ(var(--egerX)); */
  
}
#konyv > div{
  /* width: 105mm;height: 148.5mm; */
  
  width: 400px;
  height: 600px;
  background-color: transparent;
  
  
  position: absolute;
  transition: all 3s;

  transform-origin: left;
}

#konyv > div:first-of-type > div,
#konyv > div:last-of-type > div{
    background-color: #2e1800;
    box-shadow: inset -4px -4px 4px 1px #635648, inset -7px -7px 4px 0 #221b14;
    justify-content: center;
    color: white;
    width: 400px;
    height: 600px;
}
#konyv > div > div{
    backface-visibility: hidden;
}

.bal *{
  transform: scaleX(-1);
}
.bal{
  justify-content: flex-end;
}
.bal:hover{
  transform: rotateY(-20deg);
}
.jobb:hover{
  transform: rotateY(-20deg);
}
.jobb, .bal{
    display: flex;
    align-items: flex-start;
    width: 400px;
    height: 600px;
    background-color: white;
    position: absolute;
    transition: all 3s;
    box-shadow: inset 0 0 26px 2px #d8cccc, 5px 1px 13px 0 rgb(34 27 20 / 81%);
    transform-origin: left;
  
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 24pt;
    padding: 8px;
}

img{
  width: 100%;
  border-radius: 4px;
}
h1{
  text-align: center;
}